.DS_Store
.idea
.ipynb_checkpoints
.pytest_cache

**/.DS_Store
**/.ipynb_checkpoints

mlflow/**
myvenv/**
log/**
**/__pycache__/**
/data/r_amcstock_hot_2022.csv
/data/r_amcstock_hot_20220522.csv
/data/r_amcstock_new_2022.csv
/data/r_amcstock_new_20220522.csv
/data/r_amcstock_rising_2022.csv
/data/r_amcstock_rising_20220522.csv
/data/r_amcstock_top_2022.csv
/data/r_amcstock_top_20220522.csv
/data/r_BBIG_hot_2022.csv
/data/r_BBIG_hot_20220522.csv
/data/r_BBIG_new_2022.csv
/data/r_BBIG_new_20220522.csv
/data/r_BBIG_rising_2022.csv
/data/r_BBIG_rising_20220522.csv
/data/r_BBIG_top_2022.csv
/data/r_BBIG_top_20220522.csv
/data/r_CLOV_hot_2022.csv
/data/r_CLOV_hot_20220522.csv
/data/r_CLOV_new_2022.csv
/data/r_CLOV_new_20220522.csv
/data/r_CLOV_rising_2022.csv
/data/r_CLOV_rising_20220522.csv
/data/r_KOSSstock_hot_2022.csv
/data/r_KOSSstock_hot_20220522.csv
/data/r_KOSSstock_new_2022.csv
/data/r_KOSSstock_new_20220522.csv
/data/r_KOSSstock_rising_2022.csv
/data/r_KOSSstock_rising_20220522.csv
/data/r_Superstonk_hot_2022.csv
/data/r_Superstonk_hot_20220522.csv
/data/r_Superstonk_new_2022.csv
/data/r_Superstonk_new_20220522.csv
/data/r_Superstonk_rising_2022.csv
/data/r_Superstonk_rising_20220522.csv
/data/r_Superstonk_top_2022.csv
/data/r_Superstonk_top_20220522.csv
/data/r_wallstreetbets_hot_2022.csv
/data/r_wallstreetbets_hot_20220522.csv
/data/r_wallstreetbets_new_2022.csv
/data/r_wallstreetbets_new_20220522.csv
/data/r_wallstreetbets_rising_2022.csv
/data/r_wallstreetbets_rising_20220522.csv
/data/r_wallstreetbets_top_2022.csv
/data/r_wallstreetbets_top_20220522.csv
